html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Amatic SC', cursive;
  
  background-color: #FFE4E1;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  text-shadow: 3px 2px 2px grey;
}
p, li, a {
  font-size: 25px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 1300px;                    /* заставляет тело быть всегда 600 пикселей в ширину  */
  margin: 0 auto;                  /* ервое значение элемента влияет на верхнюю и нижнюю сторону (делает их 0 в данном случае), и второе значение на левую и правую сторону (здесь, auto является особым значением, которое делит доступное пространство по горизонтали поровну слева и справа)  */
  background-color: #FFB6C1;       /* как и прежде, устанавливает цвет фона элемента  */
  padding: 0 20px 20px 20px;        /* у нас есть четыре значения, установленные для padding, чтобы сделать немного пространства вокруг нашего контента. В этот раз мы не устанавливаем padding на верхней части тела, но делаем 20 пикселей слева, снизу и справа. Значения устанавливаются сверху, справа, снизу, слева, в таком порядке.  */
  border: 5px solid black;          /* просто устанавливает сплошную черную рамку шириной 5 пикселей со всех сторон тела.  */
}
img {
  display: block;        /* даем изображению блочное поведение,чтобы применить параметр margin */
  margin: 0 auto;
}